# HuggingFace
HF_TOKEN=hf_YOUR_TOKEN_HERE
HF_REPO=luisluis123/versions

# R2 (Cloudflare)
R2_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID
R2_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY
R2_ENDPOINT=https://YOUR_ACCOUNT_ID.r2.cloudflarestorage.com
R2_BUCKET=versions
R2_PUBLIC_URL=https://dl.digitalstoregames.com
